<h1>Edit Pin</h1>
<%= form_tag "/pins/#{@pin.id}", method: :patch do %>

  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name, @pin.name %>
  </div>
    <div>
    <%= label_tag :address %>
    <%= text_field_tag :address, @pin.address %>
  </div>    
    <div>
    <%= label_tag :url %>
    <%= text_field_tag :url, @pin.url %>
  </div>  
  <div>
    <%= label_tag :text %>
    <%= text_field_tag :text, @pin.text %>
  </div>
  <div>
    <%= submit_tag "Edit Pin" %>
  </div>
<% end %>