  <section id="hero" class="module-hero module-video module-full-height bg-light-30" data-background="assets/images/section-11.jpg">
    <!-- HERO TEXT -->
    <div class="hero-caption">
      <div class="hero-text">
        <div class="row">
          <h3 class="mh-line-size-3 font-alt marginBottom newTitle" id="signUpTitle">Edit this Pin.</h3>
        </div>

      <%= form_tag "/pins/#{@pin.id}", method: :patch do %>

    <div ng-app="app" ng-controller="pinsController">   
      <div class="form-group">
        <input ng-model="chosenPlace" name="name" type="text" googleplace places-type="establishment" class="mh-line-size-4 addNewField" />      
      </div>
    </div>   
      <div>
        <%= text_field_tag :url, @pin.url, class: "mh-line-size-4 addNewField smallMargin", placeholder: "URL" %>
      </div>  
      <div>
        <%= text_field_tag :text, @pin.text, class: "mh-line-size-4 addNewField smallMargin", placeholder: "Notes" %>
      </div>
      <div>
      <%= submit_tag 'Submit', class: "btn btn-default buttonMargin" %>
      <br />
      <%= link_to "Delete Pin", "/pins/#{@pin.id}", method: :delete, class: "btn btn-default smallMargin" %>
      </div>
      <% end %>
        </div>
      </div>
      <!-- YOUTUBE VIDEO BACKGROUND-->
      <div class="video-player" data-property="{videoURL:'/assets/oceanVideo.mp4', containment:'.module-video', quality:'large', startAt:0, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0, mute:true}"></div>
      <!-- /YOUTUBE VIDEO BACKGROUND-->
  </section>


  <script src="/assets/js/jquery-2.1.3.min.js"></script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/js/jquery.superslides.min.js"></script>
  <script src="/assets/js/jquery.mb.YTPlayer.min.js"></script>
  <script src="/assets/js/jquery.magnific-popup.min.js"></script>
  <script src="/assets/js/owl.carousel.min.js"></script>
  <script src="/assets/js/jquery.simple-text-rotator.min.js"></script>
  <script src="/assets/js/imagesloaded.pkgd.js"></script>
  <script src="/assets/js/isotope.pkgd.min.js"></script>
  <script src="/assets/js/packery-mode.pkgd.min.js"></script>
  <script src="/assets/js/appear.js"></script>
  <script src="/assets/js/jquery.easing.1.3.js"></script>
  <script src="/assets/js/wow.min.js"></script>
  <script src="/assets/js/jqBootstrapValidation.js"></script>
  <script src="/assets/js/jquery.fitvids.js"></script>
  <script src="/assets/js/jquery.parallax-1.1.3.js"></script>
  <script src="/assets/js/contact.js"></script>
  <script src="/assets/js/custom.js"></script>
