<div class="container marginTop">
  <h1>Edit Pin</h1>
  <%= form_tag "/pins/#{@pin.id}", method: :patch do %>

  <div ng-app="app" ng-controller="pinsController">   
    <div class="form-group">
      <%= label_tag :name %>
      <input ng-model="chosenPlace" name="name" type="text" googleplace places-type="establishment" class="inputText" />      
    </div>
  </div>   
    <div>
      <%= label_tag :url %>
      <%= text_field_tag :url, @pin.url %>
    </div>  
    <div>
      <%= label_tag :text %>
      <%= text_field_tag :text, @pin.text %>
    </div>
    <div>
    <%= submit_tag 'Edit Pin', class: "btn btn-default" %>    
    </div>
  <% end %>
</div>