<h2><%= @board.name %></h2>

<% @pins.each do |pin| %>
  <h3><%= pin.text %></h3>
  <h3><a href="<%= pin.url %>">Link</a></h3>
<% end %>

<h4><%= link_to "Add a new pin", "/pins/new" %></h4>
<h4><%= link_to "Delete this board", "/boards/#{@board.id}", method: :delete %></h4>