<div class="container-fluid mapContainer">
  <div ng-app="app">
    <div ng-controller="pinsController" ng-init="setup(<%= @board.id %>)">
      <div class="row">
        <div class="col-sm-3">
          <h2 class="boardName"><%= @board.name.upcase %></h2>
        </div>
        <div class="col-sm-9" id="filterDiv">
          <h4 id="filterBy">FILTER BY:</h4>
            <input type="submit" class="btn btn-default" name="Attractions" value="Attractions" ng-click="selectCategory('Attractions')">
            <input type="submit" class="btn btn-default" name="Hotels" value="Hotels" ng-click="selectCategory('Hotels')">
            <input type="submit" class="btn btn-default" name="Restaurants" value="Restaurants" ng-click="selectCategory('Restaurants')">
            <h5 ng-click="selectCategory(undefined)" id="clearFilters">CLEAR FILTERS</h5>
          <select onchange="location = this.value" class="notesDropdown">
            <option selected="Your Notes">VIEW / CREATE NOTES</option>
            <% @notes.each do |note| %>
              <option value="/notes/<%= note.id %>/edit"><%= note.title %></option>
            <% end %>
            <option value="/notes/new">Create New Note</option>
          </select>
        </div>
      </div>
      <div class="row mapRow">
        <div class="col-sm-3 pinSidebar">
        <input class="mh-line-size-3 addNewField searchBox" placeholder="Search Pins", ng-model="searchText">        
          <div ng-repeat="pin in pins | filter: selectedCategory | filter: searchText">
            <h4>{{ pin.name }}</h4>
            <h4><a href="{{ pin.url }}">Visit website</a></h4>  
            <% if @text %>
              <h5>Notes: {{ pin.text }}</h5>
            <% end %>
            <h4>Category: {{ pin.category }}</h4>
            <%= link_to "View / Edit this pin", "/pins/{{ pin.id }}", class: "btn btn-default" %>
            <hr>         
          </div>
        </div>
        <div class="pinMapContainer col-sm-9">
          <div class="colorSquares">
            <p ng-click="changeColor('pinkGreen')"><img src="/assets/pinkBlue.png" /></p>
            <p ng-click="changeColor('blackWhite2')"><img src="/assets/blackWhite.png" /></p>
            <p ng-click="changeColor('darkBlueOcean')"><img src="/assets/darkBlueOcean.png" /></p>
            <p ng-click="changeColor('blue')"><img src="/assets/blue.png" /></p>
          </div>
          <div id="pinMap"></div>
        </div>
      </div>

  <h4><%= link_to "Delete this board", "/boards/#{@board.id}", method: :delete %></h4>

</div>
    </div>
  </div>