<div class="container-fluid mapContainer">
  <div ng-app="app">
    <div ng-controller="pinsController" ng-init="setup(<%= @board.id %>)">
      <h2><%= @board.address %></h2>
      <div class="row">
        <div class="col-sm-2">
          <div ng-repeat="pin in pins">
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <h4>{{ pin.name }}</h4>
            <p><a href="{{ pin.url }}">Visit website</a></p>          
            <p>{{ pin.text }}</p>
            <p>{{ pin.address }}</p>
          </div>
        </div>
        <div class="col-sm-10" id="pinMap"></div>
      </div>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= "#{ENV[ 'MY_API' ]}" %>" async defer></script>   
    </div>
  </div>


  <h4><%= link_to "Add a new pin", "/pins/new" %></h4>
  <h4><%= link_to "Delete this board", "/boards/#{@board.id}", method: :delete %></h4>
</div>