<!DOCTYPE html>
<html>
<head>
  <title>TravelAppPrototype</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <a class="navbar-brand" href="http://localhost:3000/boards">Travel App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>     
          <li><%= link_to "Log Out", "/users/sign_out", method: :delete %></li> 
        <% else %>        
          <li><a href="/users/sign_up">Sign Up</a></li>
          <li><a href="/users/sign_in">Log In</a></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
  <% flash.each do |name, message| %>
   <div class="alert alert-<%= name %> alert-dismissible fade in" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">&times;</span><span class="sr-only">Close</span></button>
     <%= message.html_safe %>  
   </div>
  <% end %>

  <%= form_tag "/search", method: :post do %>
    <%= label_tag :search %>
    <%= text_field_tag :search %>
    <%= submit_tag "Search" %>
  <% end %>

  <%= yield %>
</div>
</body>
</html>
